<ul class="navbar-nav ml-auto">
  <li class="nav-item">
    <a href="{% url 'dashboard' %}" class="nav-link text-primary">
      <i class="tim-icons icon-minimal-left"></i> Back to Dashboard
    </a>
  </li>
  <li class="d-flex align-items-center mb-0">
    <label class="switch theme-switch">
      <input type="checkbox" class="bsc" checked>
      <span class="slider"></span>
    </label>
  </li>
  <li class="nav-item ">
    <a href="{% url 'register' %}" class="nav-link">
      <i class="tim-icons icon-laptop"></i> Register
    </a>
  </li>
  <li class="nav-item ">
    <a href="{% url 'login' %}" class="nav-link">
      <i class="tim-icons icon-single-02"></i> Login
    </a>
  </li>
</ul>